<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, <%= @user.username %>!</p>
    <p>
      Welcome to FaceBuddies! We're so excited to have you join our growing community.
      You are now successfully signed up and are ready to start posting! 
    </p>
    <p>
      To login and join the fun, just follow this link: <%= @login_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>- The FaceBuddies Team</p>
  </body>
</html>