<div class="level-right">
  <div class="level-item">
    <%= link_to post_comment_path(post, comment), class: "has-text-dark", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <i class="far fa-trash-alt" alt="delete"></i>
    <% end %>
  </div>
</div>