<%= turbo_frame_tag comment do %>
  <div class="content">
    <nav class="level mb-2">
      <div class="level-left">
        <h6 class="mb-0"><%= link_to comment.user.username, comment.user, class: "has-text-dark", data: { turbo_frame: "_top" } %></h6>
      </div>
      <% if user_signed_in? && current_user == comment.user %>
        <%= render '/comments/comment_controls', comment: comment, post: post %>
      <% end %>
    </nav>
    <%= simple_format(comment.body) %>
  </div>
<% end %>