<div class="box pb-0">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= image_tag friend.avatar, class: "is-rounded" %>
      </p>
    </figure>
    <div class="media-content">
      <h5><%= link_to friend.username, friend, class: "has-text-dark" %></h5>
    </div>
  </article>
</div>