<div class="columns is-gapless">
  <div class="column"></div>
  <div class="column is-two-thirds mw-600">
    <%= render 'shared/search_form' %>
    <%= render partial: 'friend', collection: @users, as: :friend %>
  </div>
  <div class="column"></div>
</div>