<div class="box">
  <article class="media">
    <figure class="media-left m-0">
      <p class="image is-64x64">
        <%= image_tag user.avatar.variant(resize_to_fill: [64, 64]), class: "is-rounded" %>
      </p>
    </figure>
    <div class="media-content has-text-centered">
      <h5><%= link_to user.username, user, class: "has-text-dark" %></h5>
      <% if @pending_friends_ids.include?(user.id) %>
        <%= link_to "Pending Request", friend_requests_path, class: "button is-light is-responsive" %>
      <% else %>
        <%= button_to "Send Friend Request", friend_requests_path(requestee_id: user), method: :post, data: { turbo_method: :post }, class: "button is-link is-responsive" %>
      <% end %>
    </div>
  </article>
</div>