<div class="container">
  <div class="columns is-centered">
    <div class="column has-text-centered">
      <%= render 'avatar', user: @user %>
    </div>
    <div class="column is-two-thirds">
      <div class="mb-3"><%= render 'user_form', user: @user %></div>
      <div class="mb-1"><%= link_to "Change email/password or cancel account", edit_user_registration_path %></div>
      <div><%= link_to "Back", :back %></div>
    </div>
    <div class="column"></div>
  </div>
</div>