<div class="container">
  <div class="columns is-centered">
    <div class="column has-text-centered">
      <figure class="image is-128x128">
        <%= image_tag "https://bulma.io/images/placeholders/128x128.png", class: "is-rounded" %>
      </figure>
    </div>
    <div class="column is-two-thirds">
        <div class="content">
          <%= render 'user_form', user: @user %>
        </div>
    </div>
    <div class="column"></div>
  </div>
</div>