<div class="box">
  <h5><%= friend_request.requester.email %></h5>
  <%= button_to "Accept", accept_friend_request_path(friend_request), method: :post, data: { turbo_method: :post } %>
  <%= button_to "Decline", friend_request_path(friend_request), method: :delete, data: { turbo_method: :delete } %>
</div>