<div class="box">
  <h5><%= link_to outgoing_friend_request.requestee.username, outgoing_friend_request.requestee, class: "has-text-dark" %></h5>
  <%= button_to "Cancel", friend_request_path(outgoing_friend_request), method: :delete, data: { turbo_method: :delete }, class: "button is-light" %>
</div>