<div class="box">
  <article class="media">
    <figure class="media-left m-0">
      <p class="image is-64x64">
        <%= image_tag outgoing_friend_request.requestee.avatar.variant(resize_to_fill: [64, 64]), class: "is-rounded" %>
      </p>
    </figure>
    <div class="media-content has-text-centered">
      <h5><%= link_to outgoing_friend_request.requestee.username, outgoing_friend_request.requestee, class: "has-text-dark" %></h5>
      <%= button_to "Cancel", friend_request_path(outgoing_friend_request), method: :delete, data: { turbo_method: :delete }, class: "button is-light is-responsive" %>
    </div>
  </article>
</div>