<div class="columns">
  <div class="column"></div>
  <div class="column is-two-thirds">
    <%= turbo_frame_tag id= "new_post", src: new_post_path %>
    <div id="posts">
      <%= render @posts %>
    </div>
  </div>
  <div class="column"></div>
</div>